@import 'tailwindcss';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:
		'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@layer base {
	h1 {
		@apply text-4xl font-bold mb-4;
	}
	h2 {
		@apply text-3xl font-bold mb-3;
	}
	h3 {
		@apply text-2xl font-semibold mb-2;
	}
}
